@font-face {
  font-family: 'bebas';
  src: url('BebasNeue-Regular.ttf') format('truetype');
}
header{
  background-image: linear-gradient(to bottom, orangered, orange);
  display: flow-root;
  color: white;
  font-family: 'bebas', Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  margin: auto;
}
ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Estilos do menu */
  .menu {
    display: flex;
    background-color: #333;
  }
  
  .menu li {
    margin: 0;
    padding: 10px 20px;
    margin-top: 5px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
  }
  
  .menu a:hover {
    box-shadow: 3px 3px 7px #d1d0d0;
    padding: 6px;
    border-radius: 10px;
    transition: 0.2s;
  }
body{
    background-image: linear-gradient(to right,#ff3131, #ff914d);
    margin: auto;
}
@font-face {
    font-family: 'code';
    src: url('code.ttf') format('truetype');
}
h1{
  letter-spacing: 2px;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
}
#sobreempresa{
  background-image: linear-gradient(to right,#ABB1BB,#E2E5E8 );
  text-align: justify;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 5px 5px 12px orangered;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 690px;
}
section.serviços{
    text-align: justify;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px 12px orangered;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 690px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right,#ABB1BB,#E2E5E8 );
}
#logoimg{
    text-align: center;
}
#codeimg{
  border-radius: 50px;
  box-shadow: 3px 3px 12px orangered;
  max-width: 100%;
}

div.serviços2{
    width: 300px;
    background-image: linear-gradient(to bottom, #FA8806,#F79D04,#F3A259);
    padding: 10px;
    border-radius: 15px;
    display: inline-grid;
   margin-bottom: 20px;
    box-shadow: 4px 4px 20px orange;
    margin-left: 1.5px;
    
}
div.botao{
    text-align: center;
}
p{
    text-align: center;
}
button{
    border-color: #ff3131;
    border-radius: 30px;
    background-color: rgba(253, 9, 9, 0.767);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    box-shadow: 3px 3px 10px red;
    cursor: pointer;
}
a{
  color: #000000;
  text-decoration: none;
}
.footer-menu {
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #333;
  }
  
  .footer-menu .menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style: none;
  }
  
  .footer-menu .menu li {
    margin: 0 10px;
  }
  
  .footer-menu a {
    text-decoration: none;
    color: white;
  }
 #lucas{
  color: #E2E5E8;
  font-family: 'Times New Roman', Times, serif;
 }
 #dark{
  color: #333;
 }
  