section{
    border-radius: 10px;
    background-color: rgb(189, 189, 189);
    padding: 7px;
    box-shadow: 3px 3px 8px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}
h2{
    text-align: center;
}
body{
    text-align: center;
}
footer{
    font-style: italic;
}
td{
    text-align: center;
}